/* 
Generic Styling, for Desktops/Laptops 
*/
.tobeclaimed-preview {
  overflow-y: visible;
}

.tobeclaimed {
  width: 100%;
  border-collapse: collapse;
}
/* Zebra striping */
.tobeclaimed tr:nth-of-type(odd) {
  background: #eee;
}
.tobeclaimed th {
  background: #333;
  color: white;
  font-weight: bold;
}
.tobeclaimed td,
.tobeclaimed th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

/* 
        Max width before this PARTICULAR table gets nasty
        This query will take effect for any screen smaller than 760px
        and also iPads specifically.
        */
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */

  .actions {
    text-align: left;
  }
  .tobeclaimed,
  .tobeclaimed thead,
  .tobeclaimed tbody,
  .tobeclaimed th,
  .tobeclaimed td,
  .tobeclaimed tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  .tobeclaimed thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .tobeclaimed tr {
    border: 1px solid #ccc;
  }
  .tobeclaimed td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  .tobeclaimed td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  /*
     Label the data
    */
  .tobeclaimed td:nth-of-type(1):before {
    content: 'Details';
  }
  .dt-print {
    display: none;
  }
}
@media print {
  .dt-print {
    display: none;
  }
}
